<!doctype html>
 {% load static %}
 <!DOCTYPE html>
 <html lang="en">
   
 <head>
	<style>
		.col{
			border:1px solid black;
			border-shadow:1px;
		}
	</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rbit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <script src="https://kit.fontawesome.com/c60c43416b.js" crossorigin="anonymous"></script>
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  <body>
<div>
	<div class="container">

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'home'%}">Rbit</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">Welcome <span class="sr-only"> {{request.user.username}}</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Queries</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Profile</a>
			  </li>
			
			
		  </ul>
		 
		</div>
	  </nav>
	</div>
	
  
	<div class="row" >
		<div class="col" style="background-color:darkslateblue;font:aerial">
			<form class="form-inline my-2 my-lg-0" method="GET" action ={% url 'home' %}>
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
				
			  </form>
		  {% block left %}
		  {% endblock %}
		</div>
		<div class="col-6" style="background-color: #8c8c8c

		;font:aerial">
		 {% block content %}
		  {% endblock%}
		</div>
		<div class="col">
		  {% block right%}
		  {% endblock %}
		</div>
	  </div>
   
    </div>
    

  </body>
</html>